USE [master]
GO
/****** Object:  Database [DB_Práctica6]    Script Date: 7/13/2020 5:24:46 PM ******/
CREATE DATABASE [DB_Práctica6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Práctica6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_Práctica6.mdf' , SIZE = 7360KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_Práctica6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_Práctica6_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Práctica6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Práctica6]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 7/13/2020 5:24:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Producto] [nvarchar](255) NULL,
	[Categoria] [nvarchar](255) NULL,
	[Suplidor] [nvarchar](255) NULL,
	[Precio] [float] NULL,
	[Almacen] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[getAll]    Script Date: 7/13/2020 5:24:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAll]
as
SELECT Producto, Categoria, Suplidor, Precio, Almacen FROM Producto
GO
USE [master]
GO
